<th:block th:fragment="content (select)">
  <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
      
        <li class="nav-item">
          <a class="nav-link active" ng-href="#!/test">
            <span data-feather="music"></span>1980
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/1981">
            <span data-feather="music"></span>1981
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/1982">
            <span data-feather="music"></span>1982
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/1983">
            <span data-feather="music"></span>1983
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/1984">
            <span data-feather="music"></span>1984
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/1985">
            <span data-feather="music"></span>1985
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/1986">
            <span data-feather="music"></span>1986
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/1987">
            <span data-feather="music"></span>1987
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/1988">
            <span data-feather="music"></span>1988
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/1989">
            <span data-feather="music"></span>1989
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/1990">
            <span data-feather="music"></span>1990
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/1991">
            <span data-feather="music"></span>1991
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/1992">
            <span data-feather="music"></span>1992
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/1993">
            <span data-feather="music"></span>1993
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/1994">
            <span data-feather="music"></span>1994
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/1995">
            <span data-feather="music"></span>1995
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/1996">
            <span data-feather="music"></span>1996
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/1997">
            <span data-feather="music"></span>1997
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/1998">
            <span data-feather="music"></span>1998
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/1999">
            <span data-feather="music"></span>1999
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/2000">
            <span data-feather="music"></span>2000
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/2001">
            <span data-feather="music"></span>2001
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/2002">
            <span data-feather="music"></span>2002
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/2003">
            <span data-feather="music"></span>2003
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/2004">
            <span data-feather="music"></span>2004
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/2005">
            <span data-feather="music"></span>2005
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/2006">
            <span data-feather="music"></span>2006
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/2007">
            <span data-feather="music"></span>2007
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/2008">
            <span data-feather="music"></span>2008
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/2009">
            <span data-feather="music"></span>2009
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/2010">
            <span data-feather="music"></span>2010
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/2011">
            <span data-feather="music"></span>2011
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/2012">
            <span data-feather="music"></span>2012
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/2013">
            <span data-feather="music"></span>2013
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/2014">
            <span data-feather="music"></span>2014
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#!/song-list/2015">
            <span data-feather="music"></span>2015
          </a>
        </li>
      </ul>
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Saved reports</span>
        <a class="d-flex align-items-center text-muted" ng-href="#">
          <span data-feather="plus-circle"></span>
        </a>
      </h6>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" ng-href="#">
            <span data-feather="file-text"></span>Current month
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#">
            <span data-feather="file-text"></span>Last quarter
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#">
            <span data-feather="file-text"></span>Social engagement
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-href="#">
            <span data-feather="file-text"></span>Year-end sale
          </a>
        </li>
      </ul>
    </div>
  </nav>
</th:block>